# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Stripe
STRIPE_SECRET_KEY=
# stripe listen --forward-to localhost:3000/api/webhooks/stripe

# Vercel
API_URL=http://localhost:3000

# Client-side (needed if you call the API from Client Components / browser)
NEXT_PUBLIC_API_URL=

NEXT_PUBLIC_AUTH0_GOOGLE_LOGIN_URL=
NEXT_PUBLIC_AUTH0_GITHUB_LOGIN_URL=
